<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CustomerCare</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.ssi.RequestHandler</listener-class>
  </listener>
  <servlet>
    <servlet-name>A</servlet-name>
    <servlet-class>com.ssi.SaveCustomer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyAdmin</servlet-name>
    <servlet-class>com.ssi.VerifyAdmin</servlet-class>
    <init-param>
      <param-name>admin-id</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>admin-pw</param-name>
      <param-value>indore</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>A</servlet-name>
    <url-pattern>/CustomerEntry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyAdmin</servlet-name>
    <url-pattern>/VerifyAdmin</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
</web-app>